.container {
    text-align: center;
}

button {
    padding: 5px 10px;
    margin: 5px;
    color: #fff;
    border-radius: 0.5;
    &.primary {
        border-color: blue;
        background-color: blue;
        opacity: 0.7;
    }
    &.secondary {
        border-color: orange;
        background-color: orange;
        opacity: 0.7;
    }
    &.reset {
        border-color: red;
        background-color: red;
        opacity: 0.7;
    }
    &:hover {
        cursor: pointer;
    }
}
